<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "mybatis-3-config.dtd" >
<configuration>

	<!-- 别名 -->
	<typeAliases>
		<package name="com.rimi.bean"></package>
			<package name="com.rimi.dao"></package>
	</typeAliases>
	<mappers>
		<mapper resource="/com/rimi/daoImpl/UserDaoMapper.xml"/>
	</mappers>
	
</configuration>
