<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xsi:schemaLocation="http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc-4.3.xsd
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.2.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.3.xsd
		http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-4.3.xsd
		http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-4.3.xsd"> 
		
		<!--制定控制层的包  -->
		<context:component-scan base-package="com.rimi.controller"></context:component-scan>
		<!-- 开启注解编程 -->
		<mvc:annotation-driven></mvc:annotation-driven>
		
		<!-- 视图解析器 -->
		<bean class="org.springframework.web.servlet.view.InternalResourceViewResolver">
			<property name="prefix" value="/WEB-INF/jsp/"></property>
			<property name="suffix" value=".jsp"></property>
		</bean>
		
		<!-- 数据源 链接数据库参数 -->
		<bean id="dataSource" class="org.springframework.jdbc.datasource.DriverManagerDataSource">
			<property name="driverClassName" value="com.mysql.jdbc.Driver"></property>
			<property name="username" value="root"></property>
			<property name="password"  value="123"></property>
			<property name="url"  value="jdbc:mysql://localhost:3306/rimi"></property>
		</bean>		

		<!-- session工厂 -->
		<bean id="sessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
		    <!-- mybatis核心配置文件的路径 -->
			
			
			<property name="typeAliasesPackage"  value="com.rimi.bean"></property>
		
			<property name="mapperLocations" value="classpath:com/rimi/daoImpl/*.xml"></property>
			<property name="dataSource" ref="dataSource"></property> 
		</bean>		
		
		<!-- dao -->
		<bean id="ud" class="org.mybatis.spring.mapper.MapperFactoryBean">
			<!-- 接口 -->
			<property name="mapperInterface" value="com.rimi.dao.UserDao"></property>
			<property name="sqlSessionFactory"  ref="sessionFactory"></property>
		</bean>

		
		
		<!-- ud 相当于变量    class 是该类的类型 -->
	<!-- <bean  id="ud"  class="com.rimi.bean.UserBean">
		<property name="userName" value="zhangsans"></property>
		<property name="userName" ><value>lisi</value></property>
	</bean> -->
	

	
	 <!-- dao -->
	<!--<bean id="ud"  class="com.rimi.dao.UserDaoImpl"></bean> -->
	
	<!-- service -->
	<bean id="us" class="com.rimi.serviceImpl.UserServiceImpl">
	<property name="ud" ref="ud"></property>
	</bean>

	<!-- 非法拦截 -->
	<mvc:interceptors>
		<mvc:interceptor>
			<mvc:mapping path="/**"/>
			<mvc:exclude-mapping path="/newlogin.do"/>
			<mvc:exclude-mapping path="/login.do"/>
			<bean class="com.rimi.interceptor.LoginInterceptor"></bean>
		</mvc:interceptor>
	</mvc:interceptors>
	
</beans>